 <div class="col-6 offset-3 border border-primary mb-5">
  <h4>コメント欄</h4>
    <% comments.each do |comment| %>
      <div class="d-flex mt-2 align-items-center">
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image,size:"30x30",class:"rounded-circle mr-3" %>
          <p><%= comment.user.name %></p>
        <% end %>

        <p><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
        <p class="ml-5"><%= comment.body %></p>

        <p class="ml-auto">
          <%= link_to admin_post_comment_path(post,comment), method: :delete,remote: true,class:"btn btn-sm btn-danger" do %>
           <i class="fas fa-trash-alt "></i>
          <% end %>
        </p>
      </div>
    <% end %>
</div>
