<div class="container">
  <div class="row mt-3">
      <div class="col-6 offset-3 mt-3 mb-2 d-flex align-items-center">
        <h1>投稿編集</h1>
        <%= link_to post_path(@post),method: :delete,data: {confirm: '本当に消しますか？'},class: "btn btn-sm btn-danger ml-5" do %>
            <i class="fas fa-trash-alt "></i>
        <% end %>
      </div>

      <div class="col-6 offset-3">
        <%= render 'layouts/errors', obj: @post %>
        <%= form_with model:@post,local:true do |f| %>
          <div class="form-group">
            <%= f.label :title,"タイトル" %>
            <%= f.text_field :title,class:"form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :body,"募集内容" %>
            <%= f.text_area :body,class:"form-control",rows: 20 %>
          </div>

          <div class="form-group">
            <%= f.label :capacity,"参加人数" %>
            <%= f.select :capacity, capacity_select %>
          </div>

          <div class="form-group">
              <%= f.label :"参加設定" %>
            <div class="form-check">
              <%= f.radio_button :is_free, true %>
              <%= f.label :is_free_true, "自由参加可" %>
              <%= f.radio_button :is_free, false%>
              <%= f.label :is_free_false, "オーナー承認制"%>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :"公開範囲" %>
            <div class="form-check">
              <%= f.radio_button :status, Post.statuses.key(0) %>
              <%= f.label :status_公開, "公開"%>
              <%= f.radio_button :status,Post.statuses.key(1) %>
              <%= f.label :status_下書き, "下書き"  %>
            </div>
          </div>

          <div class="form-group">
              <%= f.label :"募集状況" %>
            <div class="form-check">
              <%= f.radio_button :is_stop, false %>
              <%= f.label :is_stop_false, "募集中" %>
              <%= f.radio_button :is_stop, true %>
              <%= f.label :is_stop_true, "募集停止" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit "更新する",class: 'btn btn-success btn-lg btn-block' %>
          </div>
        <% end %>
    </div>
  </div>
</div>