<div class="container">
  <div class="row mt-3">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 d-flex align-items-center ">
      <h1><%= @post.title %></h1>
      <% if @post.is_posted_by?(current_user) %>
        <h2>
          <%= link_to edit_post_path(@post),class:"text-muted" do%>
            <i class="far fa-edit fa-xs ml-5"></i>
          <% end %>
        </h2>
          <% if @post.status == "下書き" %>
            <p class="text-muted ml-3 pt-3">
              ※下書き
            </p>
          <% end %>
      <% else %>
          <% unless current_user.guest? %>
          <h2 id="post_<%= @post.id %>">
            <%= render "public/favorites/favorite", post: @post%>
          </h2>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <%= render partial:"public/posts/show", locals: {post: @post,join: @join} %>
  </div>

  <div class="row mt-2">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 border border-primary h-auto" style=" background-color: rgba(0,0,255,.1)">
      <pre class="font-weight-normal"><%= render_with_hashtags(@post.body) %></pre>
    </div>
  </div>
  
  <div id="error">
    <%= render partial:"public/comments/error"%>
  </div>
  
  <div id="comments_form" class="row mt-4">
    <% unless current_user.guest? %>
      <%= render partial:"public/comments/form", locals: {post: @post,comment: @comment} %>
    <% end %>
  </div>

  <div id="comments_ajax" class="row mt-4">
    <%= render partial:"public/comments/comment", locals: {post: @post,comments: @comments} %>
  </div>

  <div class="row mt-2">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 mb-5">
      <!--閲覧者用　オーナーまたはゲストでない場合-->
      <% unless (@post.is_posted_by?(current_user)) || (current_user.guest?) %>
        <!--申請の有無-->
        <h3>申請状況</h3>
        <% if @post.join?(current_user) %>
          <% if @member.approval_status == "参加中" %>
            <p>参加中</p>
            <%= link_to "キャンセルする",participant_path(@member),method: :delete %>
          <% elsif @member.approval_status == "キャンセル待ち" %>
            <p>キャンセル待ち</p>
            <%= link_to "申請を取り下げる",participant_path(@member),method: :delete %>
          <% else @member.approval_status == "参加申請中" %>
            <p>参加申請中</p>
            <%= link_to "申請を取り下げる",participant_path(@member),method: :delete %>
          <% end %>
        <% else %>
          <%= form_with model: @participant do |f| %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "申請", class:"btn btn-primary btn-lg user-show-chat" %>
          <% end %>
        <% end %>
      <% end %>
      
      <!--オーナー用　userが同じかつ参加申請がある場合-->
      <% if @post.is_posted_by?(current_user) && @participants.exists? %>
        <h3>申請者一覧</h3>
          <% @participants.each do |part| %>
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td><%= part.user.name %>さん</td>
                  <td><%= link_to "許可",participant_permit_path(part),method: :patch,class:"btn btn-primary" %></td>
                  <td><%= link_to "拒否",participant_ignore_path(part),method: :patch,class:"btn btn-danger" %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
      <% end %>
      
      <!--オーナー用　userが同じかつキャンセル待ちがある場合-->
      <% if @post.is_posted_by?(current_user) && @wait.exists? %>
        <h3>キャンセル待ち一覧</h3>
        <% @wait.each do |wait| %>
          <table class="table">
            <tbody>
              <tr>
                <td><%= wait.user.name %>さん</td>
                <td><%= link_to "許可",participant_permit_path(wait),method: :patch,class:"btn btn-primary ml-3" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
      
    </div> 
  </div>
</div>