<div class="container">
  <div class="row mt-3">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 mt-3 mb-2 ">
        <h1>管理者 検索一覧</h1>
    </div>
  </div>

  <div class="row mt-2">
      <% if @range == "Tag" %>
      
        <% @tags.each do |tag| %>
          <% tag.posts.each do |post|%>
          
            <table class="table table-bordered col-10 offset-1 col-sm-6 offset-sm-3 text-center">
              <thead>
                <tr>
                  <th colspan="3">
                    <%=link_to post.title,admin_post_path(post),class:"text-dark" %>

                    <!--付いているタグのeach-->
                    <% post.tags.each do |tag| %>
                     <%=link_to "#""#{tag.name}","/admin/posts/tag/#{tag.name}" %>
                    <% end %>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="1" class="align-middle">オーナー名</th>
                  <td colspan="2" >
                    <%= link_to admin_user_path(post.user) do %>
                      <%= image_tag post.user.get_profile_image, size:'50x50',class:"rounded-circle" %>
                      <%= post.user.name %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="col">募集人数</th>
                  <th scope="col">参加型</th>
                  <th scope="col">募集状況</th>
                </tr>
              </body>
              <tbody>
                <tr>
                  <td>/<%= post.capacity %>人</td>

                  <!--自由参加または承認制のif文-->
                  <% if post.is_free? %>
                    <td class="text-primary">自由参加</td>
                      <% else %>
                    <td class="text-waring">オーナー承認制</td>
                  <% end %>

                  <!--募集関係　if-->
                  <% if post.is_stop? %>
                    <td class="text-danger">募集停止</td>
                      <% else %>
                    <td class="text-success">募集中</td>
                  <% end %>
                </tr>
              </tbody>
              
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>

        <% @posts.each do |post| %>
          <table class="table table-bordered col-10 offset-1 col-sm-6 offset-sm-3 text-center">
              <thead>
                <tr>
                  <th colspan="3">
                    <%=link_to post.title,admin_post_path(post),class:"text-dark" %>

                    <!--付いているタグのeach-->
                    <% post.tags.each do |tag| %>
                      <%=link_to "#""#{tag.name}","/admin/posts/tag/#{tag.name}" %>
                    <% end %>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" colspan="1" class="align-middle">オーナー名</th>
                  <td colspan="2" >
                    <%= link_to admin_user_path(post.user) do %>
                      <%= image_tag post.user.get_profile_image, size:'50x50',class:"rounded-circle" %>
                      <%= post.user.name %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="col">募集人数</th>
                  <th scope="col">参加型</th>
                  <th scope="col">募集状況</th>
                </tr>
              </body>
              <tbody>
                <tr>
                  <td><%= post.participants.where(approval_status: 1).count %>/<%= post.capacity %>人</td>

                  <!--自由参加または承認制のif文-->
                  <% if post.is_free? %>
                    <td class="text-primary">自由参加</td>
                      <% else %>
                    <td class="text-waring">オーナー承認制</td>
                  <% end %>

                  <!--募集関係　if-->
                  <% if post.is_stop? %>
                    <td class="text-danger">募集停止</td>
                      <% else %>
                    <td class="text-success">募集中</td>
                  <% end %>
                </tr>
              </tbody>
            <% end %>

      <% end %>
      </table>
  </div>

</div>
