<h1>post.show</h1>

<h2>登録情報</h2>

<ul>
    <li>
        <p>title</p>
        <%= @post.title %>
    </li>

    <li>
        <p>body</p>
        <%= render_with_hashtags(@post.body) %>
    </li>

    <li>
        <p>人数</p>
        <%= @post.capacity %>
    </li>

    <li>
        <p>公開ステータス</p>
        <%= @post.status %>
    </li>

    <li>
        <p>自由参加型</p>
        <%= @post.is_free %>
    </li>

    <li>
        <p>募集状況</p>
        <%= @post.is_stop %>
    </li>
   <li>
      いいね数<%= @post.favorites.count %>
   </li>

</ul>

<div id="admin_comments_ajax">
  <%= render partial:"admin/comments/comment", locals: {post: @post,comments: @comments} %>
</div>

<%= link_to "投稿削除",admin_post_path(@post),method: :delete,data: {confirm: '本当に消しますか？'}%>