<div class="container">
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h1>ユーザー編集</h1>

      <%= form_with model: @user,url: admin_user_path(@user), local:true do |f| %>
        <div class="form-group">
          <%= f.label:name,"名前" %>
          <%= f.text_field :name,class:"form-control-plaintext", disabled: true %>
        </div>
        
        <div class="form-group">
          <%= f.label :introduction,"自己紹介" %>
          <%= f.text_area :introduction,class:"form-control-plaintext", disabled: true %>
        </div>
  
        <div class="form-group">
          <%= f.label :email,"メールアドレス" %>
          <%= f.email_field :email,class:"form-control-plaintext", disabled: true %>
        </div>
        
        <div class="form-group">
            <%= f.label :"退会ステータス"%>
          <div class="form-check pl-0">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_stop_false, "有効" %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted_true, "退会" %>
          </div>
        </div>
  
        <div class="form-group">
          <%= f.submit "編集内容を保存",class: 'btn btn-success btn-lg btn-block' %>
        </div>
      <% end %>
    
    </div>
  </div>
</div>