<div class="container">
  <div class="row mt-3">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3">
      <h1>ユーザー編集</h1>
      <%= render 'layouts/errors', obj: @user %>

      <%= form_with model: @user,url: user_path(@user), local:true do |f| %>
        <div class="form-group">
          <%= f.label:name,"名前" %>
          <%= f.text_field :name,class:"form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.label :image,"プロフィール" %>
          <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
        </div>
  
        <div class="form-group">
          <%= f.label :introduction,"自己紹介" %>
          <%= f.text_area :introduction,class:"form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.label :email,"メールアドレス" %>
          <%= f.email_field :email,class:"form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.submit "編集内容を保存",class: 'btn btn-success btn-lg btn-block' %>
        </div>
      <% end %>

      <div class="quit text-right">
        <%= link_to "※退会はこちらから", quit_user_path , class:"text-danger" %>
      </div>

   </div>
  </div>
</div>