<h1>User.show</h1>

<h2>登録情報 <%= link_to "編集する",edit_user_path(@user)%></h2>

<%= image_tag @user.get_profile_image, size:'100x100' %>

<%= @user.name %>

<%= @user.introduction %>

<div id="following-count_<% @user.id %>">
  <%= link_to "#{ @user.following.count }フォロー中", user_following_path(@user) %>
</div>

<div id="followers-count_<%= @user.id %>">
  <%= link_to "#{ @user.followers.count }フォロワー", user_followers_path(@user) %>
</div>

<div id="follow-btn_<%= @user.id %>">
  <%= render partial:"public/relationships/follow-btn", locals: {user: @user} %>
</div>

<p><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>

<% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <%= link_to "DM",room_path(@roomId) %>
    <% else %>
      <%= form_with model: @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
      <% end %>
    <% end %>
<% end %>